[user]
  name = Holger Lösken
{{- if eq .chezmoi.hostname "CR00441" }}
  email = holger.loesken@m0.xyz
{{- else }}
  email = holger.loesken@codedge.de
{{- end }}

[init]
	defaultBranch = main

[core]
{{- if eq .chezmoi.os "darwin" }}
	excludesfile = /Users/holger/.gitignore_global
{{- else }}
	excludesfile = /home/hl/.gitignore_global
{{- end }}

[pull]
  rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
