#zmodload zsh/zprof

# GENERAL
export EDITOR="helix"

# NVM
export NVM_LAZY_LOAD=true

# Go
export GOPATH=$HOME/go
export PATH="$PATH:$GOPATH/bin"

# SNAP
if [ -d /snap/bin ]; then
    export PATH="$PATH:/snap/bin"
fi

{{- if eq .chezmoi.os "darwin" }}
# BREW
if [ -d "/opt/homebrew/bin" ]; then
    export PATH="/opt/homebrew/bin:$PATH"
fi
if [ -d "/opt/homebrew/sbin" ]; then
    export PATH="/opt/homebrew/sbin:$PATH"
fi
alias bdu='brew doctor; brew update; brew upgrade'
{{- end }}

# ANTIDOTE
{{- if eq .chezmoi.os "linux" }}
source '/usr/share/zsh-antidote/antidote.zsh'
{{- else }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{- end }}

antidote load
autoload -Uz promptinit && promptinit && prompt pure

{{- if eq .chezmoi.os "linux" }}
# Backwards search with Ctrl-R
bindkey "^R" history-substring-search-down
HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=1

########################################### 
### SSH Agent and Keychain
###########################################

eval $(keychain --eval --quiet $HOME/.ssh/id_ed25519 $HOME/.ssh/id_rsa_ce)

# Grim - Screenshot tool
export GRIM_DEFAULT_DIR="~/screenshots"

# Clipcat clipboard manager
if type clipcat-menu >/dev/null 2>&1; then
    alias clipedit=' clipcat-menu --finder=builtin edit'
    alias clipdel=' clipcat-menu --finder=builtin remove'

    bindkey -s '^\' "^Q clipcat-menu --finder=builtin insert ^J"
    bindkey -s '^]' "^Q clipcat-menu --finder=builtin remove ^J"
fi
{{- end }}

# FZF
source <(fzf --zsh) 
export FZF_DEFAULT_OPTS='--height 40% --layout reverse --border top'
export FZF_CATPPUCCIN_MACCHIATO=" \
--color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
--color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
--color=marker:#b7bdf8,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796 \
--color=selected-bg:#494d64 \
--multi \
"
export FZF_THEME=$FZF_CATPPUCCIN_MACCHIATO
export FZF_DEFAULT_OPTS=" \
  --height 30% -1 \
  --select-1 \
  --reverse \
  --preview-window='right:wrap' \
  --inline-info \
  $FZF_THEME
"

# VIM
alias vi='helix'
alias vim='helix'

# LSD
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

# HELIX
alias hx='helix'

# TERRAFORM
alias tf='terraform'

# Git
alias lg="lazygit"
function lg()
{
    export LAZYGIT_NEW_DIR_FILE=~/.lazygit/newdir
    lazygit "$@"
    if [ -f $LAZYGIT_NEW_DIR_FILE ]; then
            cd "$(cat $LAZYGIT_NEW_DIR_FILE)"
            rm -f $LAZYGIT_NEW_DIR_FILE > /dev/null
    fi
}

# COMPOSER
export PATH="$PATH:$(composer global config bin-dir --absolute --quiet)"

{{- if eq .chezmoi.os "darwin" }}
# PHP
# determine versions of PHP installed with HomeBrew
installedPhpVersions=($(brew ls --versions | ggrep -E 'php(@.*)?\s' | ggrep -oP '(?<=\s)\d\.\d' | uniq | sort))

# create alias for every version of PHP installed with HomeBrew
for phpVersion in ${installedPhpVersions[*]}; do
    value="{"

    for otherPhpVersion in ${installedPhpVersions[*]}; do
        if [ "${otherPhpVersion}" = "${phpVersion}" ]; then
            continue;
        fi

        value="${value} brew unlink php@${otherPhpVersion};"
    done

    value="${value} brew link php@${phpVersion} --force --overwrite; } &> /dev/null && php -v"

    alias "${phpVersion}"="${value}"
done
{{- end }}


#MINICONDA
{{- if eq .chezmoi.os "darwin" }}
CONDA_DIR="/opt/homebrew/Caskroom/miniconda/base"
{{- else }}
CONDA_DIR="/home/hl/miniconda3"
{{- end }}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
if [ -f "$CONDA_DIR/etc/profile.d/conda.sh" ]; then
  . "$CONDA_DIR/etc/profile.d/conda.sh"
else
  export PATH="$CONDA_DIR/bin:$PATH"
fi
# <<< conda initialize <<<

#zprof
